
.field {
display: flex;
flex-direction: column;
align-items: center;
margin-left: 7px;
}

.value {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px; 
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    color: #2e2f42;
}

.timer {
    width: 346px;
    height: 72px;
    display: flex;
    gap: 24px;
    margin-top: 33px;
}

h1 {
font-family: "Montserrat", sans-serif;
}

input {
background: #f5f5f5;
border-radius: 4px;
width: 272px;
height: 40px;
border-style: groove;
border-color: #808080;
border-width: 1px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.04em;
padding-left: 13px;
}

input:hover {
  border-color: #000000;
}


input:focus {
    border-color: #4E75FF;
    outline: none;
}

button {
background: #4e75ff;
border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
border-style: none;
font-weight: 500;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
font-family: "Montserrat", sans-serif;
outline: none;
}



button:hover {
 background-color: #6c8cff;
}

button[disabled]:hover {
    color: #989898;
    background-color: #cfcfcf;
}

button[disabled] {
    color: #989898;
    background-color: #cfcfcf;
}